form {
    display: flex;
    flex-wrap: wrap;

    & > input {
      flex: 1 1 10ch;
      margin: .5rem;

      &[type="email"] {
        flex: 3 1 30ch;
      }
    }
  }

ion-content {
    display: flex;
}

.formface {
    position: fixed;
    top:0;
    left:0;
    width:40%;
    height: 140%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    .formfaceContent {        
        width:100%;        
        padding-bottom: calc(55%*1024/768);   
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        

        img {
            width: 60%;         
        }

        img, .formfaceText, .formfaceButton {
            margin: 5%;
        }

        .formfaceButtons {
            .formfaceButton {
            
            }
        }
    }    
}

.deleteButton {
    margin: 5% auto;
    width: 40%;
}