<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Resumo da partida</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="match" class="matchSummary">
    
    <h1>{{match.homeTeam.name}} 2 x 0 {{match.awayTeam.name}}</h1>    
    
    <p>Finalizaçoes - {{stats.finishes}}</p>
    <p>Passes Errados - {{stats.passes}}</p>
    <p>Desarme - {{stats.tackles}}</p>
    <p>Faltas - {{stats.fouls}}</p>
    <p>Defesas do Goleiro - {{stats.goalkeeperSaves}}</p>
    <p>Gols - {{stats.goal}}</p>
    <p>Cartoes Vermelhos - {{stats.redCard}}</p>
    <p>Cartoes Amarelos - {{stats.yellowCard}}</p>
    <p>Destaque - {{stats.manOfTheMatch}}</p>
  </div>
</ion-content>