<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Partida</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="form">
    <ion-grid>
      <ion-row>
        <ion-col size="5">
          <div class="formface">
            <!-- todo -->
            <div class="formfaceContent">
              <img src="assets/pague.png" alt="" />
              <div class="formfaceText">
                <h1>Partida</h1>
                <p>{{match.homeTeam.name}} vs {{match.awayTeam.name}}</p>
              </div>
              <div class="formfaceButtons">
                <ion-button class="formfaceButton" (click)="done()"
                  >Pronto</ion-button
                >
              </div>
            </div>
          </div>
        </ion-col>
        <ion-col size="7" align-self-center>
          <ion-row>
            <div class="fields">
              <ion-item>
                <ion-label position="floating">Categoria</ion-label>
                <ion-select
                  name="category"
                  [value]="match.category"
                  formControlName="category"
                  [(ngModel)]="match.category"
                  required
                  cancelText="Cancelar"
                  [okText]="Pronto"
                  [compareWith]="compareWith"
                >
                  <ion-select-option
                    [value]="category"
                    *ngFor="let category of categories"
                    >{{category.name}}
                  </ion-select-option>
                </ion-select>
              </ion-item>
              <ion-item>
                <ion-label position="floating">Time da casa</ion-label>
                <ion-select
                  name="homeTeam"
                  [value]="match.homeTeam"
                  formControlName="homeTeam"
                  [(ngModel)]="match.homeTeam"
                  required
                  cancelText="Cancelar"
                  [okText]="Pronto"
                  [compareWith]="compareWith"
                >
                  <ion-select-option
                    [value]="homeTeam"
                    *ngFor="let homeTeam of teams"
                    >{{homeTeam.name}}
                  </ion-select-option>
                </ion-select>
              </ion-item>
              <ion-item>
                <ion-label position="floating">Time visitante</ion-label>
                <ion-select
                  name="awayTeam"
                  [value]="match.awayTeam"
                  formControlName="awayTeam"
                  [(ngModel)]="match.awayTeam"
                  required
                  cancelText="Cancelar"
                  [okText]="Pronto"
                  [compareWith]="compareWith"
                >
                  <ion-select-option
                    [value]="awayTeam"
                    *ngFor="let awayTeam of teams"
                    >{{awayTeam.name}}
                  </ion-select-option>
                </ion-select>
              </ion-item>
              <ion-item>
                <ion-label position="floating">Local</ion-label>
                <ion-input
                  formControlName="location"
                  [(ngModel)]="match.location"
                  inputmode="text"
                ></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="floating">Data</ion-label>
                <ion-datetime
                  formControlName="end"
                  [(ngModel)]="match.end"
                  displayFormat="DD/MM/YYYY"
                ></ion-datetime>
              </ion-item>
              <ion-item>
                <ion-label position="floating">Notas</ion-label>
                <ion-input
                  formControlName="notes"
                  [(ngModel)]="match.notes"
                  inputmode="text"
                ></ion-input>
              </ion-item>
            </div>
          </ion-row>

          <ion-row class="scoreWrapper">
            <ion-item-divider>
              <ion-label>Placar</ion-label>
            </ion-item-divider>
            <div class="score">
              <div class="homeTeam">
                <h4>{{match.homeTeam.name}}</h4>
              </div>
              <div class="fixedScore">
                <h3>{{match.score.home}} x {{match.score.away}}</h3>
              </div>
              <div class="awayTeam">
                <h4>{{match.awayTeam.name}}</h4>
              </div>
            </div>
          </ion-row>
          <ion-row class="scoreWrapper">
            <ion-item-divider>
              <ion-label>Destaque</ion-label>
            </ion-item-divider>
            <ion-item>
              <ion-avatar slot="start">
                <img src="assets/jogador-de-futebol.png" />
              </ion-avatar>
              <ion-label>{{match.playerOfTheMatch}}</ion-label>
            </ion-item>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
