<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{selectedAction.description}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="choosePlayerStep" class="playerCardContainer centerText">
    <h1 *ngIf="players.length === 0">Nenhum jogador encontrado</h1>
    <ion-card class="playerCard" button="true" *ngFor="let player of players" (click)='onPlayerChoose(player)'>
      <ion-card-header>
        <div>
          <ion-card-title>{{player.name}}</ion-card-title>
        </div>
      </ion-card-header>
      <ion-card-content class="playerNumber centerText">
        {{player.shirtNumber}}
      </ion-card-content>
    </ion-card>
  </div>
  <div *ngIf="confirmationStep" class="statisticsCardContainer">
    <h1>{{selectedPlayer.name}}</h1>
    <ion-card button="true" color="success" (click)="onConfirmed(true)">
      <ion-card-content class="statisticsCardContent">
        <ion-icon class="statisticsButton" name="checkmark"></ion-icon>
      </ion-card-content>
    </ion-card>
    <ion-card button="true" color="danger" (click)="onConfirmed(false)">
      <ion-card-content class="statisticsCardContent">
        <ion-icon class="statisticsButton" name="close"></ion-icon>
      </ion-card-content>
    </ion-card>
  </div>
  <div *ngIf="goalStep" class="statisticsCardContainer">
    <h1>Gol</h1>
    <ion-card button="true" [color]="homeTeam.isMainTeam ? 'success' : 'medium'" (click)="onGoalConfirmed(homeTeam)">
      <ion-card-content class="statisticsCardContent">
        <ion-img *ngIf="homeTeam.isMainTeam" class="mainTeamImg" src="assets/027-football.png"></ion-img>
        <h1>{{homeTeam.name}}</h1>
      </ion-card-content>
    </ion-card>
    <ion-card button="true" [color]="awayTeam.isMainTeam ? 'success' : 'medium'" (click)="onGoalConfirmed(awayTeam)">
      <ion-card-content class="statisticsCardContent">
        <ion-img *ngIf="awayTeam.isMainTeam" class="mainTeamImg" src="assets/027-football.png"></ion-img>
        <h1>{{awayTeam.name}}</h1>
      </ion-card-content>
    </ion-card>
  </div>
  <div *ngIf="noteStep" class="statisticsCardContainer">
    <ion-card>
      <ion-list lines="full">
        <ion-item>         
          <ion-textarea [(ngModel)]="notes" rows="15" ></ion-textarea>
        </ion-item>
      </ion-list>
    </ion-card>
    <ion-card button="true" color="primary" (click)="onNoteConfirmed()">
      <ion-card-content class="statisticsCardContent">
        <ion-icon class="statisticsButton" name="checkmark"></ion-icon>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>