<ion-header>
  <ion-toolbar>
    <ion-title>menu</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1 class="mainTitle">Diprima Scout</h1>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card button="true" [routerLink]="['/before-game']">
          <ion-card-content class="moduleContent">
            <ion-img class="cardImg" src="assets/014-match.png"></ion-img>
            <h1>Jogo</h1>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card button="true" [routerLink]="['/reports']">
          <ion-card-content class="moduleContent">
            <ion-img class="cardImg" src="assets/006-mobile-app.png"></ion-img>
            <h1>Relatórios</h1>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card button="true" [routerLink]="['/players']">
          <ion-card-content class="moduleContent">
            <ion-img class="cardImg" src="assets/012-team-bench.png"></ion-img>
            <h1>Jogadores</h1>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card button="true" [routerLink]="['/competitions']">
          <ion-card-content class="moduleContent">
            <ion-img class="cardImg" src="assets/019-schedule.png"></ion-img>
            <h1>Competições</h1>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card button="true" [routerLink]="['/categories']">
          <ion-card-content class="moduleContent">
            <ion-img class="cardImg" src="assets/008-matryoshka.png"></ion-img>
            <h1>Categorias</h1>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card button="true" [routerLink]="['/teams']">
          <ion-card-content class="moduleContent">
            <ion-img
              class="cardImg"
              src="assets/021-soccer-jersey-1.png"
            ></ion-img>
            <h1>Times</h1>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
