<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">Fechar</ion-button>
    </ion-buttons>
    <ion-title>Outras ações</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card class="module" button="true" color="secondary" (click)="choosePlayers(actionEnum.GOAL)">
          <ion-card-header>
            <ion-card-subtitle>Gol</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content class="moduleContent">
            <ion-img class="cardImg" src="assets/017-football-2.png"></ion-img>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card class="module" button="true" color="danger" (click)="choosePlayers(actionEnum.REDCARD)">
          <ion-card-header>
            <ion-card-subtitle>Cartão vermelho</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content class="moduleContent">
            <ion-img class="cardImg" src="assets/011-amonestation-1.png"></ion-img>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card class="module" button="true" color="warning" (click)="choosePlayers(actionEnum.YELLOWCARD)">
          <ion-card-header>
            <ion-card-subtitle>Cartão amarelo</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content class="moduleContent">
            <ion-img class="cardImg" src="assets/011-amonestation-1.png"></ion-img>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card class="module" button="true" color="success" (click)="choosePlayers(actionEnum.PLAYEROFTHEMATCH)">
          <ion-card-header>
            <ion-card-subtitle>Destaque</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content class="moduleContent">
            <ion-img class="cardImg" src="assets/036-trophy.png"></ion-img>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card class="module" button="true" color="primary" (click)="choosePlayers(actionEnum.NOTES)">
          <ion-card-header>
            <ion-card-subtitle>Notas</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content class="moduleContent">
            <ion-img class="cardImg" src="assets/016-skills.png"></ion-img>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button expand="block" *ngIf="game.hasStarted && !game.hasFinished" color="danger" size="large"
          (click)="stopGame()">
          Encerrar Partida
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>