<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Jogo
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card class="ballPossessionCard" button="true" (click)="setBallPossession('home')">
          <ion-card-header class="ballPossessionCardHeader">
            <div>
              <ion-card-subtitle>Posse</ion-card-subtitle>
              <ion-card-title>Time da Casa</ion-card-title>
            </div>
            <div class="ballPossessionImgContainer">
              <ion-img class="ballPossessionImg" src="assets/play-button.png"></ion-img>
            </div>
          </ion-card-header>
          <ion-card-content class="ballPossessionCardContent">
            <div class="gameStatsContainer">
              <div class="gameStats">
                <ion-img class="gameTimeImg" src="assets/clock.png"></ion-img>
                <h2>{{homeTeam.ballPossessionTime}}</h2>
              </div>
              <div class="gameStats">
                <ion-img class="gameTimeImg" src="assets/018-football-1.png"></ion-img>
                <h2>{{homeTeam.ballPossessionRate}}%</h2>
              </div>
            </div>
            <ion-chip *ngIf="homeTeam.hasPossession" color="success">
              <ion-label color="success">Está com a bola</ion-label>
            </ion-chip>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card class="ballPossessionCard" button="true" (click)="setBallPossession('away')">
          <ion-card-header class="ballPossessionCardHeader">
            <div>
              <ion-card-subtitle>Posse</ion-card-subtitle>
              <ion-card-title>Time Visitante</ion-card-title>

            </div>
            <div class="ballPossessionImgContainer">
              <ion-img class="ballPossessionImg" src="assets/play-button.png"></ion-img>

            </div>
          </ion-card-header>
          <ion-card-content class="ballPossessionCardContent">
            <div class="gameStatsContainer">
              <div class="gameStats">
                <ion-img class="gameTimeImg" src="assets/clock.png"></ion-img>
                <h2>{{awayTeam.ballPossessionTime}}</h2>
              </div>
              <div class="gameStats">
                <ion-img class="gameTimeImg" src="assets/018-football-1.png"></ion-img>
                <h2>{{awayTeam.ballPossessionRate}}%</h2>
              </div>
            </div>
            <ion-chip *ngIf="awayTeam.hasPossession" color="success">
              <ion-label color="success">Está com a bola</ion-label>
            </ion-chip>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col ion-item no-lines no-padding text-center>
        <div class="gameTimeContainer">
          <ion-img class="gameTimeImg" src="assets/clock.png"></ion-img>
          <h2>{{gameTime}}</h2>
        </div>
        <ion-button *ngIf="!game.hasStarted" expand="block" size="large" (click)="startGame()">Começar jogo</ion-button>
        <ion-button *ngIf="game.hasStarted" expand="block" color="danger" size="large" (click)="stopGame()">Encerrar
          jogo</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card button="true" color="primary" (click)="choosePlayers('finish')">
          <ion-card-header>
            <ion-card-subtitle>Finalização</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content class="moduleContent">
            <ion-img class="cardImg" src="assets/045-goal.png"></ion-img>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card button="true" color="secondary" (click)="choosePlayers('tackle')">
          <ion-card-header>
            <ion-card-subtitle>Desarme</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content class="moduleContent">
            <ion-img class="cardImg" src="assets/025-football-trophy.png"></ion-img>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card button="true" color="success" (click)="choosePlayers('pass')">
          <ion-card-header>
            <ion-card-subtitle>Passe</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content class="moduleContent">
            <ion-img class="cardImg" src="assets/043-strategy.png"></ion-img>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card button="true" color="warning" (click)="choosePlayers('foul')">
          <ion-card-header>
            <ion-card-subtitle>Faltas</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content class="moduleContent">
            <ion-img class="cardImg" src="assets/011-amonestation-1.png"></ion-img>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col>
        <ion-card button="true" color="danger" (click)="choosePlayers('corner')">
          <ion-card-header>
            <ion-card-subtitle>Escanteios</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content class="moduleContent">
            <ion-img class="cardImg" src="assets/046-corner.png"></ion-img>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card button="true" color="medium" (click)="choosePlayers('card')">
          <ion-card-header>
            <ion-card-subtitle>Cartões1</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content class="moduleContent">
            <ion-img class="cardImg" src="assets/049-amonestation.png"></ion-img>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>