<ion-header>
  <ion-toolbar>
    <ion-title>before-game</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides #beforeGameSlider (ionSlideWillChange)="ionSlideWillChange($event)" [options]="slideOpts">
    <ion-slide>
      <div class="slideWrapper">
        <ion-text color="dark">
          <h1>Escolha a competição...</h1>
        </ion-text>
        <ion-list class="cardWrapper">
          <ion-card button="true" (click)="nextSlide()" *ngFor="let competition of competitions">
            <ion-card-content class="moduleContent">
              <ion-img class="cardImg" src="assets/premio.png"></ion-img>
              <h1>{{competition.name}}</h1>
            </ion-card-content>
          </ion-card>
        </ion-list>
      </div>
    </ion-slide>
    <ion-slide>
      <div class="slideWrapper">
        <ion-text color="dark">
          <h1>A categoria...</h1>
        </ion-text>
        <ion-list class="cardWrapper">
          <ion-card button="true" (click)="nextSlide()" *ngFor="let category of categories">
            <ion-card-content class="moduleContent">
              <ion-img class="cardImg" src="assets/boneca.png"></ion-img>
              <h1>{{category.name}}</h1>
            </ion-card-content>
          </ion-card>
        </ion-list>
      </div>
    </ion-slide>
    <ion-slide>
      <div class="slideWrapper">
        <ion-text color="dark">
          <h1>E agora a partida...</h1>
        </ion-text>
        <ion-list class="cardWrapper">
          <ion-card button="true" (click)="nextSlide()" *ngFor="let match of matches">
            <ion-card-content class="moduleContent">
              <ion-img class="cardImg" src="assets/pague.png"></ion-img>
              <h1>{{match.description}}</h1>
            </ion-card-content>
          </ion-card>
        </ion-list>
      </div>
    </ion-slide>
  </ion-slides>

</ion-content>