.statisticsCardContent{
    text-align: center
}

.statisticsCardContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;    
    height: 100%;
}

.statisticsCardContainer ion-card{
    margin: 5px;
}

.statisticsButton{
    font-size: 17em;
}